.score-card-container {
  /* max-width: 400px; */
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 700px;
  height: 450px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

h2 {
  text-align: center;
  color: #333;
}

.done-button {
  width: 200px;
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.done-button:hover {
  background-color: #45a049;
}
