.quiz-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.quiz-page-container h1,
.quiz-page-container p {
  font-size: 20px;
}
