.top-navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.right-content {
  display: flex;
  align-items: center;
}

.hamburger-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 15px;
}

.hamburger-button:hover {
  background-color: #455aa0;
}

.menu-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.menu-option {
  padding: 10px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  text-align: left;
  font-size: 1.5rem;
}

.menu-option:hover {
  background-color: #555;
}
