body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-image: url("./Assets//greenbackground.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  color: rgb(107, 120, 120);

  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}

input {
  width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 20px;
}
